<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel=" stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {{!-- <link rel="stylesheet" type="text/css" src="css/bootstrap-tagsinput.css"> --}}
    <title>Document</title>
</head>

<body>
    <div class="container">
        <form action="/position/new" method="post">
            <div class="form-group">
                <label for="position">Position Name</label>
                <input type="text" class="form-control" name="position" placeholder="Example input">
            </div>
            <div class="form-group">
                <label for="jobDescription">Job Description</label>
                <input type="text" class="form-control" name="jobDescription" placeholder="Another input">
            </div>
            <div class="form-group">
                <label for="department">Department</label>
                <input type="text" class="form-control" name="department" placeholder="Another input">
            </div>
            <div class="form-group">
                <label for="keywords">Skills(comma separated)</label>
                <input type="text" class="form-control" name="keywords" data-role="tagsinput">
            </div>
            <button class="btn btn-primary" type="submit">Submit form</button>

        </form>
    </div>
</body>
{{!-- <script src="bootstrap-tagsinput.mins.js"></script> --}}

</html>